@import url("../../assets/theme.css");
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  margin: 0;
}

nav {
  border-bottom: 1px solid var(--primary-border-color);
}
